<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Chuck Norris - random quote">
        <meta name="keywords" content="Chuck Norris, random quote">
        <meta name="author" content="Patilla Code">
        <title>RandomChuck</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chuck.css') }}">
    </head>
    <body class="{{ background }}">
        <div id="container">
            <p id="quote">{{ quote }}</p>
        </div>
    </body>
</html>