* {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
    min-height: 100%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {

}

.quote {
    margin: 0.5rem 0;
    line-height: 1.5rem;
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 21pt;
    text-shadow: 2px 0 0 #000,
                 -2px 0 0 #000,
                 0 2px 0 #000,
                 0 -2px 0 #000,
                 1px 1px #000,
                 -1px -1px 0 #000,
                 1px -1px 0 #000,
                 -1px 1px 0 #000;
}

.background-1 {
    background: url(../chuckpics/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background-2 {
    background: url(../chuckpics/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background-3 {
    background: url(../chuckpics/3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background-4 {
    background: url(../chuckpics/4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background-5 {
    background: url(../chuckpics/5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
